@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Swiper Styles */
.swiper-button-next,
.swiper-button-prev {
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px !important;
    font-weight: 800;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 8px !important;
    height: 8px !important;
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    transform: scale(1.2);
}